@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Oswald:wght@200..700&family=Rock+Salt&display=swap');

:root {
  --bs-btn-focus-shadow-rgb: #65bd47;
}


.bg-img {
  --bs-bg-opacity: 1;
  background-image: url("/images/headerBgnd.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
}

.navbar-toggler {
  background-color: #6653a4;
  --bs-navbar-toggler-icon-bg: url("/images/menuBtn.png");
  height: 40px;
  margin-right: 1rem;
  font-size: 1rem;
}

.navbar-toggler:hover {
  --box-shadow-color: #65bd47;
  box-shadow: 0 0 30px var(--box-shadow-color);
  --bs-navbar-toggler-border-color: rgb(101, 189, 71);
  background-color: #1a0026;
}

.homeLink {
  color: rgb(101, 189, 71);
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 12rem;
  font-size: xx-large;
  font-family: "Bangers";
  text-shadow: 0 0 20px #6653a4;
}

.homeLink:hover {
  color: #ffffffe5;
  text-shadow: 0 0 20px #6653a4;
}

.footLink {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-style {
  --bs-bg-opacity: 1;
  background-image: url("/images/footerBgnd.png");
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
  height: fit-content;
}

.buttonDiv {
  justify-self: end;
  align-items: center;
}

.headerbtn {
  background-color: #6653a4;
  color: #ffffffe5;
  --bs-btn-hover-border-color: rgb(101, 189, 71);
  height: 40px;
  margin-right: 1rem;
}

.headerbtn:hover {
  background-color: #1a0026;
  color: #ffffff;
  --box-shadow-color: rgb(101, 189, 71);
  box-shadow: 0 0 30px var(--box-shadow-color);
}

body {
  color: #ffffffe5;
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

.formbtn {
  margin: 5px;
  background-color: #7C737F;
  width: 99%;
}

.bg-card {
  background-color: #E7DCEB;
}


/* FONTS */


.rock-salt {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

.oswald-light {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.oswald-normal {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.oswald-medium {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.oswald-bold {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.oswald-heavy {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.oswald-wide {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.bangers {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}