@import 'bootstrap/dist/css/bootstrap.min.css';
@import url("/client/src/utils/fonts.css");

.bg-img {
  --bs-bg-opacity: 1;
  background-image: url("/client/public/images/diHeaderImgLongNoText.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.897);
}

.homeLink {
  color: white;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 12rem;
  font-size: xx-large;
}

.bg-style {
  background-image: url("/client/public/images/homepage.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-style {
  background-image: url("/client/public/images/footerbgnd.png");
  background-repeat: no-repeat;
  background-size: cover;
}

a.headerbtn {
  background-color: white;
}