@import 'bootstrap/dist/css/bootstrap.min.css';
@import url("/client/src/utils/fonts.css");

:root {
  --bs-btn-focus-shadow-rgb: #65bd47;
}

.bg-img {
  --bs-bg-opacity: 1;
  background-image: url("/client/public/images/diHeaderImgLongNoText.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-toggler {
  background-color: #6653a4;
  --bs-navbar-toggler-icon-bg: url("/client/public/images/menuBtn.png")
}

.homeLink {
  color: white;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 12rem;
  font-size: xx-large;
}

.bg-style {
  background-image: url("/client/public/images/homepage.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-style {
  background-image: url("/client/public/images/footerbgnd.png");
  background-repeat: no-repeat;
  background-size: cover;
}

a.headerbtn {
  background-color: #6653a4;
  color: rgba(255, 255, 255, 0.897);
  --bs-btn-hover-border-color: rgb(101, 189, 71);
}

a.headerbtn:hover {
  color: rgb(101, 189, 71);
  --box-shadow-color: rgb(101, 189, 71);
  box-shadow: 0 0 30px var(--box-shadow-color);
}